{% extends "base.html" %}

{% block title %}Examples - DESI Data Inspector{% endblock %}

{% block content %}

<h2>Example URLs</h2>

<p>Search form:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/search">{{ root_url }}/search</a>
</p>

<p>See what targets from Data Release 1 (dr1) are within 30 arcsec of RA,dec=(210,5) degrees:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/radec/210,5,30">{{ root_url }}/dr1/targets/radec/210,5,30</a>
</p>

<p>Download that table as a FITS file, or as json/csv/ascii:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/radec/210,5,30?format=fits">{{ root_url }}/dr1/targets/radec/210,5,30<b>?format=fits</b></a><br>
<a href="{{ root_url }}/dr1/targets/radec/210,5,30?format=json">{{ root_url }}/dr1/targets/radec/210,5,30<b>?format=json</b></a><br>
<a href="{{ root_url }}/dr1/targets/radec/210,5,30?format=csv">{{ root_url }}/dr1/targets/radec/210,5,30<b>?format=csv</b></a><br>
<a href="{{ root_url }}/dr1/targets/radec/210,5,30?format=ascii">{{ root_url }}/dr1/targets/radec/210,5,30<b>?format=ascii</b></a><br>
(for symmetry with these URLs, the original table view can also be specified with "?format=html")
</p>

<p>Read that table on-the-fly from within a Python script:</p>
<p class="indented-paragraph">
<pre>
from astropy.table import Table
targets = Table.read("{{ root_url }}/dr1/targets/radec/210,5,30?format=csv", format="csv")
</pre>
</p>

<p>Interactively view the spectra:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/spectra/radec/210,5,30">{{ root_url }}/dr1/<b>spectra</b>/radec/210,5,30</a><br>
</p>

<p>Download those spectra as a FITS file, using the same format as DESI coadded spectra:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/spectra/radec/210,5,30?format=fits">{{ root_url }}/dr1/spectra/radec/210,5,30<b>?format=fits</b></a><br>
</p>

<p>Read those spectra on-the-fly from within a Python script:</p>
<pre>
import matplotlib.pyplot as plt
from astropy.io import fits
with fits.open("{{ root_url }}/dr1/spectra/radec/210,5,30?format=fits") as hdus:
    hdus.info()
    for camera in ('B', 'R', 'Z'):
        wave = hdus[f'{camera}_WAVELENGTH'].data
        flux = hdus[f'{camera}_FLUX'].data
        plt.plot(wave, flux[0])

plt.show()
</pre>
</p>

<p>Specify either a data release name (e.g. edr,dr1,dr2), or a specific spectroscopic production (e.g. fuji,iron,loa):</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/edr/targets/radec/210,5,30">{{ root_url }}/<b>edr</b>/targets/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr1/targets/radec/210,5,30">{{ root_url }}/<b>dr1</b>/targets/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr2/targets/radec/210,5,30">{{ root_url }}/<b>dr2</b>/targets/radec/210,5,30</a><br>
<a href="{{ root_url }}/edr/targets/radec/210,5,30">{{ root_url }}/<b>fuji</b>/targets/radec/210,5,30</a><br>
<a href="{{ root_url }}/iron/targets/radec/210,5,30">{{ root_url }}/<b>iron</b>/targets/radec/210,5,30</a><br>
<a href="{{ root_url }}/loa/targets/radec/210,5,30">{{ root_url }}/<b>loa</b>/targets/radec/210,5,30</a><br>
<br>
Releases / productions that are not yet public will prompt for a password.
When specifying a release the Inspector will default to the primary spectroscopic production for that release,
e.g., "dr1" will return results for the "iron" production.
</p>

<p>Instead of an RA,DEC,RADIUS search, you can also search by TILEID and FIBERs:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/tiles/150/0-5,10,20:22">{{ root_url }}/dr1/targets/<b>tiles/150/0-5,10,20:22</b></a><br>
<br>
Note: Fiber range 0-5 is 0,1,2,3,4,5 (inclusive of 5), while 0:5 is Python-like 0,1,2,3,4 (exclusive of 5).
</p>

<p>Or by TARGETIDs:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/39627908959964170,39627908959964322">{{ root_url }}/dr1/targets/<b>39627908959964170,39627908959964322</b></a><br>
<br>
Note: All of the same <code>?format=html|fits|json|csv|ascii</code> options work for the TILE/FIBERs and TARGETID-based views as well.
</p>

<p>Tile 150 fibers 0:1000 filtered to SPECTYPE=QSO with Z>2.1</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/tiles/150/0:1000?SPECTYPE=QSO&Z=gt:2.1">
         {{ root_url }}/dr1/targets/tiles/150/0:1000<b>&SPECTYPE=QSO&Z=gt:2.1</b></a>
</p>

<p>Multiple filters can be applied to the same column, e.g. good galaxies with 0.2 &lt; z &lt; 0.5 :</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/tiles/150/0:1000?SPECTYPE=GALAXY&ZWARN=0&Z=gt:0.2&Z=lt:0.5">
         {{ root_url }}/dr1/targets/tiles/150/0:1000<b>&SPECTYPE=GALAXY&ZWARN=0&Z=gt:0.2&Z=lt:0.5</b></a>
</p>



<p>View the spectra for some TARGETIDs:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/spectra/39627908959964170,39627908959964322">{{ root_url }}/dr1/spectra/39627908959964170,39627908959964322</a><br>
</p>

<p>Download a FITS file with the spectra for those TARGETIDs:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/spectra/39627908959964170,39627908959964322?format=fits">{{ root_url }}/dr1/spectra/39627908959964170,39627908959964322?format=fits</a><br>
</p>

<p>By default, the results are for healpix-based spectra which coadd data for the same TARGETID when observed on multiple tiles.
To get tile-based spectra instead:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/tiles/radec/210,5,30">{{ root_url }}/dr1/targets/<b>tiles</b>/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr1/spectra/tiles/radec/210,5,30">{{ root_url }}/dr1/spectra/<b>tiles</b>/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr1/targets/tiles/39627908959964170,39627908959964322">{{ root_url }}/dr1/targets/<b>tiles</b>/39628261201809937,39628261205999711</a><br>
<a href="{{ root_url }}/dr1/spectra/tiles/39627908959964170,39627908959964322">{{ root_url }}/dr1/spectra/<b>tiles</b>/39628261201809937,39628261205999711</a><br>
</p>

<p>Although healpix is default, it can also be explicitly specified for symmetry with the tile-based URLs:</p>
<p class="indented-paragraph">
<a href="{{ root_url }}/dr1/targets/healpix/radec/210,5,30">{{ root_url }}/dr1/targets/<b>healpix</b>/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr1/spectra/healpix/radec/210,5,30">{{ root_url }}/dr1/spectra/<b>healpix</b>/radec/210,5,30</a><br>
<a href="{{ root_url }}/dr1/targets/healpix/39627908959964170,39627908959964322">{{ root_url }}/dr1/targets/<b>healpix</b>/39628261201809937,39628261205999711</a><br>
<a href="{{ root_url }}/dr1/spectra/healpix/39627908959964170,39627908959964322">{{ root_url }}/dr1/spectra/<b>healpix</b>/39628261201809937,39628261205999711</a><br>
</p>

<p>
In summary, URL have the structure:
</p>

{% include "url_structure.html" %}

{% endblock %}
