{% extends "base.html" %}

{% block title %}DESI Data Inspector{% endblock %}

{% block content %}

<p>
The DESI Data Inspector provides interactive browsing of DESI data
and programatic URLs for directly downloading subsets of the data.
Use the <a href="search/">Search</a> page, or generate URLs like

{% include "url_structure.html" %}

<p>
For example, Data Release 1 (DR1) targets within 60 arcsec of RA,dec=(210,5) degrees while
filtering to those identified as galaxies with redshift z&lt0.1:
</p>
<p class="indented-paragraph">
<a href="/dr1/targets/radec/210,5,60?SPECTYPE=GALAXY&Z=lt:0.1">{{ root_url }}/dr1/targets/radec/210,5,60?SPECTYPE=GALAXY&Z=lt:0.1</a>
</p>
Or download the spectra for those targets in FITS format:
<p class="indented-paragraph">
<a href="/dr1/spectra/radec/210,5,60?SPECTYPE=GALAXY&Z=lt:0.1&format=fits">{{ root_url }}/dr1/spectra/radec/210,5,60?SPECTYPE=GALAXY&Z=lt:0.1&format=fits</a>
</p>

<p>
See the <a href="examples/">Examples</a> page for more URL examples and details.
</p>

{% endblock %}
