<pre style="font-size: 12px;">
<span style="color:DarkRed">RELEASE</span>/<span style="color:DarkCyan">targets|spectra</span>/<span style="color:DarkOrange">[tiles|healpix]</span>/<span style="color:DarkGreen">TARGETIDS</span>|<span style="color:CornflowerBlue">radec/RA,DEC,RADIUS</span>|<span style="color:LightSeaGreen">TILEID/FIBERS</span>
</pre>
where <code>lowercase</code> pieces are literal text, and <code>UPPERCASE</code> pieces are parameters to enter:
<ul>
    <li><code style="color:DarkRed">RELEASE</code> is the Data Release or Spectrosopic Production name, e.g. edr, dr1, fuji, iron.</li>
    <li><code style="color:DarkCyan">targets</code> or <code style="color:DarkCyan">spectra</code> selects between getting a table of targets or their spectra.</li>
    <li>Optional <code style="color:DarkOrange">tiles</code> or <code style="color:DarkOrange">healpix</code> selects between tile-based or cross-tile healpix-based data (default healpix).</li>
    <li>3 ways to select which targets/spectra to display</li>
    <ul>
        <li><code style="color:DarkGreen">TARGETIDS</code> is a comma separated list of integer <code>TARGETIDS</code>.</li>
        <li><code style="color:CornflowerBlue">radec/RA,DEC,RADIUS</code> performs a cone search of <code>RADIUS</code> arcsec around <code>RA,DEC</code> (degrees).</li>
        <li><code style="color:LightSeaGreen">TILEID/FIBERS</code> loads the comma-separated list of <code>FIBERS</code> for tile <code>TILEID</code>.</li>
    </ul>
</ul>

Additional <code>?parameter1=value1&amp;parameter2=value2</code> options include
<ul>
    <li>Display/download in different formats (default html)</li>
        <ul>
            <li>Target tables: <code>format=html|fits|json|csv|ascii</code></li>
            <li>Spectra: <code>format=html|fits</code></li>
        </ul>
    <li>Filter targets based on UPPERCASE column names, e.g. <code>?SPECTYPE=QSO&amp;Z=gt:2.1&amp;Z=lt:3.5</code></li>
        <ul>
            <li><code>COLUMN=value</code> or <code>COLUMN=eq:value</code> — keep <code>COLUMN==value</code></li>
            <li><code>COLUMN=lt:value</code> — keep <code>COLUMN&lt;value</code>   </li>
            <li><code>COLUMN=le:value</code> — keep <code>COLUMN&lt;=value</code>  </li>
            <li><code>COLUMN=gt:value</code> — keep <code>COLUMN&gt;value</code>   </li>
            <li><code>COLUMN=ge:value</code> — keep <code>COLUMN&gt;=value</code>  </li>
            <li><code>COLUMN=ne:value</code> — keep <code>COLUMN!=value</code>  </li>
            <li>Multiple filters can be specified, even for the same value; The resulting filter is the
                logical AND of the individual filters.</li>
        </ul>
    <li>When plotting spectra: <code>plotnoise=1</code> — also plot the noise model.</li>
</ul>

</p>

