<pre style="font-size: 12px;">
<span style="color:DarkRed">RELEASE</span>/<span style="color:DarkCyan">targets|spectra</span>/<span style="color:DarkOrange">[tiles|healpix]</span>/<span style="color:DarkGreen">TARGETIDs</span>|<span style="color:CornflowerBlue">radec/RA,DEC,RADIUS</span>|<span style="color:LightSeaGreen">TILEID/FIBERs</span>[?format=html|fits|json|csv|ascii]
</pre>
where <code>lowercase</code> pieces are literal text, and <code>UPPERCASE</code> pieces are parameters to enter:
<ul>
    <li><code style="color:DarkRed">RELEASE</code> is the Data Release or Spectrosopic Production name, e.g. edr, dr1, fuji, iron.</li>
    <li><code style="color:DarkCyan">targets</code> or <code style="color:DarkCyan">spectra</code> selects between getting a table of targets or their spectra.</li>
    <li>Optional <code style="color:DarkOrange">tiles</code> or <code style="color:DarkOrange">healpix</code> selects between tile-based or cross-tile healpix-based data (default <code>healpix</code>).</li>
    <li>3 ways to select which targets/spectra to display</li>
    <ul>
        <li><code style="color:DarkGreen">TARGETIDs</code> is a comma separated list of integer <code>TARGETIDs</code>.</li>
        <li><code style="color:CornflowerBlue">radec/RA,DEC,RADIUS</code> performs a cone search of <code>RADIUS</code> arcsec around <code>RA,DEC</code> (degrees).</li>
        <li><code style="color:LightSeaGreen">TILEID/FIBERs</code> loads the comma-separated list of <code>FIBERs</code> for tile <code>TILEID</code>.</li>
    </ul>
    <li>Optional <b><code>format</code></b> parameters control whether the results are rendered as a webpage or provided as a format to download
        (default <code>html</code>).
        <code>html</code> and <code>fits</code> are valid formats for both spectra or target tables; the other formats apply
        only to target tables.
    </li>
</ul>

</p>

